# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts must use LF
*.sh text eol=lf
shims/zzclaw text eol=lf

# Windows scripts use CRLF
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.iss text eol=crlf

# Binary
*.ico binary
